<!DOCTYPE html>
<html xmlns:th="http://www.thymleaf.org">
<head>
	<title>Home</title>
	<object th:include="fragments/fragment :: css" th:remove="tag"></object>
	<object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>

<body>
	<nav th:replace="fragments/fragment :: navbar"></nav>
	<div class="container container-fluid card" th:object="${pegawai}" style="padding: 30px; margin: 30px auto">
		<h3 th:text="'Lihat Data Pegawai - ' + *{nip}"> </h3>
		<br>
		<table class="table table-borderless table-striped" style="margin:auto; display: inline-block">
			<tbody>
				<tr>
					<td><b>NIP</b></td>
					<td th:text="*{nip}"></td>
				</tr>
				<tr>
					<td><b>Nama</b></td>
					<td th:text="*{nama}"></td>
				</tr>
				<tr>
					<td><b>Tempat Lahir</b></td>
					<td th:text="*{tempatLahir}"></td>
				</tr>
				<tr>
					<td><b>Tanggal Lahir</b></td>
					<td th:text="*{tanggalLahir}"></td>
				</tr>
				<tr>
					<td><b>Tahun Masuk</b></td>
					<td th:text="*{tahunMasuk}"></td>
				</tr>
				<tr>
					<td><b>Nama Instansi</b></td>
					<td th:text="${pegawai.instansi.nama}"></td>
				</tr>
				<tr>
					<td><b>Jabatan</b></td>
					<td>
						<ul th:each="j : ${jabatan}">
							<li th:text="${j}"></li>
						</ul>
					</td>
				</tr>
				<tr>
					<td><b>Gaji</b></td>
					<td th:text="${gaji}"></td>
				</tr>
			</tbody>
		</table>
		<form th:action="@{/}">
			<button class="btn btn-primary btn-lg" type="submit" style="align-items:center">Ubah</button>
		</form>
	</div>
</body>
</html>